openapi: 3.0.3
info:
  title: Male Niti Content API
  description: >
    Backs the dynamic content on maleniti.com — services, pricing plans,
    blog posts, portfolio/work items, and contact form submissions.
    All list endpoints are public GET, cached client-side with a static
    fallback baked into the frontend (hi-fi/content.jsx) if unreachable.
    Text fields are bilingual: every user-facing string has a `_hr` and
    `_en` sibling (Croatian / English) rather than nested locale objects,
    to match the frontend's existing data shape.
  version: "1.0.0"
servers:
  - url: https://maleniti.com/api
    description: Production (self-hosted, same origin)

paths:
  /services:
    get:
      summary: List the three service offerings
      operationId: listServices
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Service' }

  /pricing:
    get:
      summary: List engagement/pricing plans
      operationId: listPricing
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PricingPlan' }

  /work:
    get:
      summary: List portfolio/work items (one may be featured)
      operationId: listWork
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/WorkItem' }

  /blog:
    get:
      summary: List blog post summaries, newest first
      operationId: listBlogPosts
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/BlogPostSummary' }

  /blog/{slug}:
    get:
      summary: Full blog post body, for a future dedicated post page
      operationId: getBlogPost
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BlogPost' }
        "404": { description: Not found }

  /imprint:
    get:
      summary: Business/registration details for the imprint page
      description: >
        Single object, not a list — there is exactly one imprint. Keeps the
        legally-required registration details (OIB, court/trade register,
        bank details, etc.) out of the frontend bundle so they can be
        corrected without a redeploy.
      operationId: getImprint
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImprintInfo' }

  /feed.xml:
    get:
      summary: RSS 2.0 feed of the blog
      description: >
        Served by the backend (not the static frontend) so the feed stays in
        step with /blog. Linked from the footer and declared for autodiscovery
        in every page head. Build it from the same records /blog returns:
        <title> from title_hr, <description> from lede_hr or excerpt_hr,
        <link> as https://maleniti.com/blog-post.html?slug={slug},
        <guid isPermaLink="false"> as the slug, <pubDate> in RFC-822.
        Serve one feed per language via ?lang=en if you want an English feed.
      operationId: getFeed
      parameters:
        - name: lang
          in: query
          schema: { type: string, enum: [hr, en], default: hr }
      responses:
        "200":
          description: OK
          content:
            application/rss+xml:
              schema: { type: string }

  /contact:
    post:
      summary: Submit the contact form
      operationId: submitContact
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ContactSubmission' }
      responses:
        "201":
          description: Received
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  received_at: { type: string, format: date-time }
        "400": { description: Validation error }

components:
  schemas:
    Service:
      type: object
      required: [tone, roman, num_hr, num_en, title_hr, title_en, title2_hr, title2_en, body_hr, body_en, list_hr, list_en]
      properties:
        tone: { type: string, enum: [indigo, green] }
        roman: { type: string, example: "I" }
        num_hr: { type: string }
        num_en: { type: string }
        title_hr: { type: string }
        title_en: { type: string }
        title2_hr: { type: string }
        title2_en: { type: string }
        body_hr: { type: string }
        body_en: { type: string }
        list_hr: { type: array, items: { type: string } }
        list_en: { type: array, items: { type: string } }

    PricingPlan:
      type: object
      required: [tag_hr, tag_en, title_hr, title_en, sub_hr, sub_en, list_hr, list_en, when_hr, when_en, featured]
      properties:
        tag_hr: { type: string }
        tag_en: { type: string }
        title_hr: { type: string }
        title_en: { type: string }
        em_hr: { type: string, description: Substring of title_hr to italicize }
        em_en: { type: string }
        sub_hr: { type: string }
        sub_en: { type: string }
        list_hr: { type: array, items: { type: string } }
        list_en: { type: array, items: { type: string } }
        when_hr: { type: string }
        when_en: { type: string }
        featured: { type: boolean, description: Highlights this plan as the recommended option }

    WorkItem:
      type: object
      description: >
        `featured: true` marks the single detailed case study shown at full
        width; all other items render as minimal placeholder slots
        (media_label + caption only).
      required: [featured, media_label_hr, media_label_en, caption_hr, caption_en]
      properties:
        featured: { type: boolean }
        slug: { type: string, nullable: true }
        media_label_hr: { type: string }
        media_label_en: { type: string }
        caption_hr: { type: string }
        caption_en: { type: string }
        status_label_hr: { type: string, nullable: true }
        status_label_en: { type: string, nullable: true }
        title_hr: { type: string, nullable: true }
        title_en: { type: string, nullable: true }
        title_rest_hr: { type: string, nullable: true }
        title_rest_en: { type: string, nullable: true }
        body_hr: { type: string, nullable: true }
        body_en: { type: string, nullable: true }
        chips: { type: array, items: { type: string }, nullable: true }
        client_hr: { type: string, nullable: true }
        client_en: { type: string, nullable: true }
        duration_hr: { type: string, nullable: true }
        duration_en: { type: string, nullable: true }
        users_hr: { type: string, nullable: true }
        users_en: { type: string, nullable: true }
        status_hr: { type: string, nullable: true }
        status_en: { type: string, nullable: true }
        demo_url:
          type: string
          nullable: true
          description: >
            Absolute or site-relative URL of this project's live demo. Each
            demo is a separately designed page built to that project's own
            specification and is NOT part of this frontend — the API is the
            only source for the link. Null hides the demo button entirely.
          example: "https://demo.maleniti.com/iot-pipeline"
        demo_label_hr: { type: string, nullable: true, example: "Pogledaj demo" }
        demo_label_en: { type: string, nullable: true, example: "View the demo" }
        post_slug:
          type: string
          nullable: true
          description: >
            Optional slug of a blog post describing this project's features.
            When set, the work item renders a link to
            blog-post.html?slug={post_slug}. Must match a BlogPost slug.
          example: "sto-je-view-u-iot-sustavu"

    BlogPostSummary:
      type: object
      required: [slug, tag_hr, tag_en, tone, date_hr, date_en, title_hr, title_en, excerpt_hr, excerpt_en, read_hr, read_en]
      properties:
        slug: { type: string }
        tag_hr: { type: string }
        tag_en: { type: string }
        tone: { type: string, enum: [indigo, green] }
        date_hr: { type: string }
        date_en: { type: string }
        title_hr: { type: string }
        title_en: { type: string }
        em_hr: { type: string, description: Substring of title_hr to italicize }
        em_en: { type: string }
        excerpt_hr: { type: string }
        excerpt_en: { type: string }
        read_hr: { type: string, example: "5 min čitanja" }
        read_en: { type: string, example: "5 min read" }
        featured:
          type: boolean
          default: false
          description: >
            Marks the lead post shown large at the top of the blog index.
            At most one post should set this; the newest is used otherwise.
        lede_hr: { type: string, nullable: true, description: Standfirst shown on the index lead and post page }
        lede_en: { type: string, nullable: true }

    BlogPost:
      allOf:
        - { $ref: '#/components/schemas/BlogPostSummary' }
        - type: object
          required: [body_hr, body_en]
          properties:
            body_hr:
              type: array
              description: >
                Ordered body blocks. The post page renders each by `type`:
                "p" = paragraph (the first one gets a drop cap),
                "h" = section subheading, "q" = pull quote.
              items: { $ref: '#/components/schemas/BodyBlock' }
            body_en:
              type: array
              items: { $ref: '#/components/schemas/BodyBlock' }

    BodyBlock:
      type: object
      required: [type, text]
      properties:
        type: { type: string, enum: [p, h, q] }
        text: { type: string }

    ImprintInfo:
      type: object
      description: >
        Fields are plain (untranslated) except where the value is genuinely
        language-dependent (legal form, VAT status, register name), which
        follow the usual `_hr`/`_en` convention.
      required: [legal_name, legal_form_hr, legal_form_en, owner_name, address, oib, registration_number, register_hr, register_en, vat_status_hr, vat_status_en, phone, bank_name, iban, swift, hosting_provider]
      properties:
        legal_name: { type: string, description: Full registered business name }
        legal_form_hr: { type: string, example: "obrt" }
        legal_form_en: { type: string, example: "sole trader" }
        owner_name: { type: string }
        address: { type: string, description: Registered/business address }
        oib: { type: string, description: Croatian personal/business tax number }
        registration_number: { type: string, description: MBS or trade register number }
        register_hr: { type: string, example: "Trgovački sud u Zagrebu" }
        register_en: { type: string, example: "Commercial Court in Zagreb" }
        vat_status_hr: { type: string, example: "nije u sustavu PDV-a" }
        vat_status_en: { type: string, example: "not VAT registered" }
        phone: { type: string, nullable: true }
        bank_name: { type: string }
        iban: { type: string }
        swift: { type: string }
        hosting_provider: { type: string, description: Server provider and/or data centre location }

    ContactSubmission:
      type: object
      required: [name, email, msg]
      properties:
        name: { type: string }
        email: { type: string, format: email }
        kind: { type: string, description: Selected project type, free text }
        msg: { type: string }
